<h1>List Resources</h1>

<form method="post">
  <ul>
    #for $uri in $uris
    <li style="list-style-type: none">
      <input type="checkbox" name="uri" value="$uri" /> 
      <a href="$resturl$uri">$uri</a>
    </li>
    #end for
  </ul>
  
  <input disabled="disabled" type="submit" name="delete" value="Delete" />
</form>