<h1>Indexes</h1>

<h2>Add new index</h2>
<form method="post" name="add">
  <label>Xpath expression</label><br />
  <input type="text" size="80" name="xpath" value="$xpath" /><br />
  <label>Type</label><br />
  <select>
    <option>Text</option>
  </select><br />
  <br />
  <input type="submit" name="add" value="Add" />
</form>

<br />
<br />

<h2>List of all indexes</h2>
<form method="post" name="list">
  #for $index in $indexes
  <input type="checkbox" name="index[]" value="$index.__str__()" /> 
  $index<br />
  #end for
  <br />
  <input type="submit" name="delete" value="Delete" />
</form>
