<h1>Indexes</h1>

<h2>List of all indexes</h2>
<form method="post" name="list">
  <ul>
    #for $index in $indexes
    <li style="list-style-type: none">
      <input type="checkbox" name="index" value="$index" /> 
      $index
    </li>
    #end for
  </ul>
  
  <input disabled="disabled" type="submit" name="delete" value="Delete" />
</form>

<br />
<br />

<p><strong>$error</strong></p>

<h2>Add new index</h2>
<form method="POST" name="add">
  <label>Key path</label><br />
  <input type="text" size="80" name="key_path" value="$key_path" /><br />
  <label>Value path</label><br />
  <input type="text" size="80" name="value_path" value="$value_path" /><br />
  <input type="submit" name="add" value="Add" />
</form>

