<h1>Database Settings</h1>

<p><i>
  You have to restart SeisHub in order to see any changes at the database 
  settings.
</i></p>

<h2>Status</h2>

DB name: $db.name<br />
URI: $db.url<br />
Verbose: $db.echo<br />

<br />
<br />

<h2>Settings</h2>

<form method="post">
  <div class="field">
    <label>Database URI</label><br />
    <input name="uri" size="80" type="text" value="$uri" />
  </div>

  <div class="field">
    <label>Verbose</label><br />
    <input name="verbose" type="checkbox" 
      #if $verbose
           checked="checked" 
      #end if 
      />
  </div>

  <input type="submit" value="Save" />
</form>
