<h1>Database Settings</h1>

<h2>Current Status</h2>

<table class="list">
  <tr>
    <th>SQLAlchemy Version</th>
    <td>$db.version</td>
  </tr>
  <tr>
    <th>DB name</th>
    <td>$db.engine.name</td>
  </tr>
  <tr>
    <th>Encoding</th>
    <td>$db.engine.dialect.encoding</td>
  </tr>
  <tr>
    <th>URI</th>
    <td>$db.engine.url</td>
  </tr>
  <tr>
    <th>Verbose</th>
    <td>$db.engine.echo</td>
  </tr>
</table>

<br />

<h2>Settings</h2>

<form method="post" action="">
  <div class="field">
    <label>Database URI (dialect://user:password@host:port/dbname)</label><br />
    <input name="uri" size="80" type="text" value="$uri" />
  </div>

  <div class="field">
    <label>Verbose</label><br />
    <input name="verbose" type="checkbox" 
      #if $verbose
           checked="checked" 
      #end if 
      />
  </div>
  
  <div class="button">
    <input type="submit" value="Save &amp; Test connection" />
  </div> 
</form>
