<h1>Resources</h1>

<h2>Upload XML Documents</h2>
<form method="post" enctype="multipart/form-data" id="add" action="">
  <div class="field">
    <label>Package</label><br />
    <select name="package_id" id="package_id">
      #for $p in $packages
      #if $resourcetypes[$p]
      <option value="$p" onclick="changePackage('$p');">$p</option>
      #end if
      #end for
    </select>
  </div>
  
  <div class="field">
    <label>Resource type</label><br />
    <select name="resourcetype_id" id="resourcetype_id">
      <option></option>
    </select>
  </div>

  <div class="field">
    <label>XML File</label><br />
    <input name="file" type="file" size="50" maxlength="100000" 
           accept="text/xml" />
  </div>

  <div class="button">
    <input type="submit" value="Submit" />
  </div>
</form>

<br />
<br />

<h2>List of all resources</h2>
<form method="post" id="list" action="">
  <table class="list">
    <tr>
      <th></th>
      <th>Document</th>
    </tr>
    #for $resource in $resources
    <tr> 
      <td>
        <input type="checkbox" name="resource[]" value="$resource" />
      </td> 
      <td>
        <a href="$resturl$resource">$resource</a>
      </td>
    </tr>
    #end for
  </table>

  <div class="button">
    <input type="submit" name="delete" value="Delete" />
  </div>
</form>


<script type="text/javascript">
/* <![CDATA[ */

    var resourcetypes = new Array();
    #for $p in $packages
    resourcetypes['$p'] = $resourcetypes[$p];
    #end for

    function changePackage(package_id)
    {
      var selectbox = document.getElementById('resourcetype_id');
      selectbox.options.length = 0;
      for (var i=0;i<resourcetypes[package_id].length;i++)
      {
        var link = resourcetypes[package_id][i];
        var addme = new Option(link, link);
        selectbox.options[i] = addme;
      }
    }
    changePackage('$packages[0]');

/* ]]> */
</script>