<h1>Query DB</h1>

<h2>Query</h2>
<form method="post">
  <div class="field">
    <textarea name="query" rows="3" cols="80">$query</textarea>
  </div>
  
  #for $table in $tables
  <input type="submit" name="$table" value="$table" />
  #end for
  <br /><br />
  <input type="submit" name="send" value="Query" />
</form>

<br />
<br />

<h2>Result</h2>
#if $cols
<table class="list">
  <tr>
  #for $k in $cols 
    <th>$k</th>
  #end for
  </tr> 
#for $r in $result
  <tr>
  #for $f in $r
    <td>
      #if isinstance(f, buffer)
        #filter WebSafe 
        #echo f.__repr__() #
        #end filter
      #else
        $f
      #end if
    </td>
  #end for
  </tr>
#end for
</table>
#end if
