<h1>Query Catalog</h1>

<h2>Query</h2>
<form method="post" action="">
  <div class="field">
    <input name="query" type="text" size="80" value="$query"/><br />
  </div>
  
  <div class="button">
    <input type="submit" name="send" value="Query" />
  </div>
</form>

<br />
<br />

<h2>Result</h2>
<textarea rows="17" cols="80">$result</textarea>