<h1>Stylesheets</h1>

<h2>Add new stylesheet</h2>
<form method="post" enctype="multipart/form-data" name="add">
  <div class="field">
    <label>Package</label><br />
    <select name="package_id" id="package_id">
        #for $p in $packages
        #if $resourcetypes[$p]
        <option value="$p" onclick="changePackage('$p');">$p</option>
        #end if
        #end for
    </select>
  </div>
  <div class="field">
    <label>Resource type</label><br />
    <select name="resourcetype_id" id="resourcetype_id"></select>
  </div>
  <div class="field">
    <label>Output format identifier</label><br />
    <input type="text" size="20" name="type" />
  </div>
  <div class="field">
    <label>XSLT File</label><br />
    <input name="file" type="file" size="50" maxlength="100000" 
           accept="text/xml" />
  </div>

  <input type="submit" value="Add" />
</form>

<br />
<br />

<h2>List of all stylesheets</h2>
<form method="post" name="list">
  <table>
    <tr>
      <th></th>
      <th>Package</th>
      <th>Resourcetype</th>
      <th>Output ID</th>
      <th>Document</th>
    </tr>
    #for $stylesheet in $stylesheets
    <tr> 
      <td>
        <input type="checkbox" name="stylesheet[]" 
               value="$stylesheet.document_id" />
      </td> 
      <td>$stylesheet.package.package_id</td>
      <td>$stylesheet.resourcetype.resourcetype_id</td>
      <td>$stylesheet.type</td>
      <td>
        <a href="$resturl/seishub/stylesheet/$stylesheet.document_id">[XML]</a>
      </td>
    </tr>
    #end for
  </table>

  <input type="submit" name="delete" value="Delete" />
</form>

<script type="text/javascript">
    var resourcetypes = new Array();
    #for $p in $packages
    resourcetypes['$p'] = $resourcetypes[$p];
    #end for

    function changePackage(package_id)
    {
      var selectbox = document.getElementById('resourcetype_id');
      selectbox.options.length = 0;
      for (var i=0;i<resourcetypes[package_id].length;i++)
      {
        var link = resourcetypes[package_id][i];
        var addme = new Option(link, link);
        selectbox.options[i] = addme;
      }
    }
    changePackage('$packages[0]');
</script>