<h1>Indexes</h1>

<h2>Add new index</h2>
<form method="post" name="add"><label>Package</label><br />
  <div class="field">
    <select name="package_id" id="package_id">
        #for $p in $packages
        #if $resourcetypes[$p]
        <option value="$p" onclick="changePackage('$p');">$p</option>
        #end if
        #end for
    </select>
  </div>
  <div class="field">
    <label>Resource type</label><br />
    <select name="resourcetype_id" id="resourcetype_id"></select>
  </div>
  <div class="field">
    <label>Type</label><br />
    <select>
        <option>Text</option>
    </select><br />
  </div>
  <div class="field">
    <label>XPath expression</label><br />
    <input type="text" size="80" name="xpath" value="$xpath" />
  </div>

  <input type="submit" name="add" value="Add" />
</form>

<br />
<br />

<h2>List of all indexes</h2>
<form method="post" name="list">
  <div class="field">
    #for $index in $indexes 
    <input type="checkbox" name="index[]" value="$index.__str__()" /> 
    $index
    <br />
    #end for
  </div>

  <input type="submit" name="reindex" value="Reindex" /> 
  <input type="submit" name="delete" value="Delete" />
</form>

<script type="text/javascript">
    var resourcetypes = new Array();
    #for $p in $packages
    resourcetypes['$p'] = $resourcetypes[$p];
    #end for

    function changePackage(package_id)
    {
      var selectbox = document.getElementById('resourcetype_id');
      selectbox.options.length = 0;
      for (var i=0;i<resourcetypes[package_id].length;i++)
      {
        var link = resourcetypes[package_id][i];
        var addme = new Option(link, link);
        selectbox.options[i] = addme;
      }
    }
    changePackage('$packages[0]');
</script>