<h1>Quickinstaller</h1>

<h2>Packages + Resourcetypes</h2>

#filter WebSafe
#for $p in $packages
<h3>$p</h3>
#if $resourcetypes.get($p)
<ol>
  #for $rt in $resourcetypes.get($p)
    <li>$rt</li>
  #end for
</ol>
#end if
#end for
<hr />
$mappers
<hr />
$schemas
<hr />
$stylesheets
<hr />
$aliases
#end filter