<h1>Schemas</h1>

<h2>Add new schema</h2>
<form method="post" enctype="multipart/form-data" id="add" action="">
  <div class="field">
    <label>Package</label><br />
    <select name="package_id" id="package_id" onchange="changePackage();">
      #for $p in $packages
      #if $resourcetypes[$p]
      <option value="$p">$p</option>
      #end if
      #end for
    </select>
  </div>
  <div class="field">
    <label>Resource type</label><br />
    <select name="resourcetype_id" id="resourcetype_id">
      <option></option>
    </select>
  </div>
  <div class="field">
    <label>Label</label><br />
    <input type="text" size="20" name="type" />
  </div>
  <div class="field">
    <label>XSD File</label><br />
    <input name="file" type="file" size="50" maxlength="100000" 
           accept="application/xsd+xml" />
  </div>

  <div class="button">
    <input type="submit" value="Add" />
  </div>
</form>

<br />
<br />

<h2>List of all schemas</h2>
<form method="post" id="list" action="">
  <table class="list">
    <tr>
      <th></th>
      <th>Package</th>
      <th>Resourcetype</th>
      <th>Label</th>
      <th>Document</th>
    </tr>
    #for $schema in $schemas
    <tr> 
      <td>
        <input type="checkbox" name="schema[]" 
               value="$schema.document_id" />
      </td> 
      <td>$schema.package.package_id</td>
      <td>$schema.resourcetype.resourcetype_id</td>
      <td>$schema.type</td>
      <td>
        <a href="$resturl/seishub/schema/$schema.document_id">[XML]</a>
      </td>
    </tr>
    #end for
  </table>

  <div class="button">
    <input type="submit" name="delete" value="Delete" />
  </div>
</form>


<script type="text/javascript">
/* <![CDATA[ */

    var resourcetypes = new Array();
    #for $p in $packages
    resourcetypes['$p'] = $resourcetypes[$p];
    #end for

    function changePackage()
    {
        var ps = document.getElementById('package_id');
        if (ps.selectedIndex)
        {
            var package_id = ps.options[ps.selectedIndex].value;
        }
        else
        {
            var package_id = ps.options[0].value;
        }
        var selectbox = document.getElementById('resourcetype_id');
        selectbox.options.length = 0;
        for (var i=0; i<resourcetypes[package_id].length; i++)
        {
            var link = resourcetypes[package_id][i];
            var addme = new Option(link, link);
            selectbox.options[i] = addme;
        }
    }
    changePackage();

/* ]]> */
</script>