<h1>Database Settings</h1>

Name: $db.name<br />
URI: $db.url<br />

<br />
<br />

<form method="post">
  <label>Database URI</label><br />
  <input name="database" size="80" type="text" value="$database" /><br />
  <br />
  <input type="submit" value="Save" />
</form>
