<h1>Database Settings</h1>

<form method="POST">
  <div class="field">
    <label>Database URI</label><br />
    <input name="database" size="80" type="text" value="$database" />
  </div>
  <input type="submit" value="Save" />
</form>
