<h1>Query DB</h1>

<h2>Query</h2>
<form method="post">
  <textarea name="query" rows="3" cols="80">$query</textarea><br />
  <br />
  <input type="submit" name="send" value="Query" />
  #for $table in $tables
  <input type="submit" name="$table" value="$table" />
  #end for
</form>

<br />
<br />

<h2>Result</h2>
<textarea rows="17" cols="80">$result</textarea>