<h1>Query DB</h1>

<p><strong>$error</strong></p>

<h2>Query</h2>
<form method="post">
<textarea name="query" rows="10" cols="80">$query</textarea><br />
<input type="submit" name="send" value="Query" />
</form>

<br />
<br />

<h2>Result</h2>
<textarea rows="10" cols="80">$result</textarea>