<h1>Services</h1>

<form method="post" name="services">
  <table class="list">
    #for $s in $services
    <tr>
      <td>
        <input type="checkbox" 
          #if $s.running
               checked="checked" 
          #end if 
               name="service" value="$s.name" />
      </td>
      <td>
        $s.name
        #if hasattr($s,'args')
          [#echo $s.args[0]#]
        #end if
      </td>
    </tr>
    #end for
  </table>
  
  <input type="submit" name="reload" value="Set Services" />
  <br />
  <input type="submit" name="shutdown" value="Shutdown" />
  <input type="submit" name="restart" value="Restart" disabled="disabled"/>
</form>

