<h1>Basic Settings</h1>

<form method="POST">
  <div class="field">
    <label>Host</label><br />
    <input name="host" size="16" type="text" value="$host" />
  </div>
  
  <div class="field">
    <label>Default Charset</label><br />
    <input name="default_charset" type="text" value="$default_charset" />
  </div>
  
  <div class="field">
    <label>Description</label><br />
    <textarea name="description" cols="80" rows="5">$description</textarea>
  </div>
  
  <input type="submit" value="Save" />
</form>
