<h1>Plugins</h1>

<form method="post" name="plugins">
  #for $plugin in $sorted_plugins
  <h2>
    $plugin 
    [<a href="" 
        onclick="javascript: toggleDisplay('$plugin'); return false">+</a>]
  </h2>
  <dl name="toggledisplay" id="$plugin" style="display: none;">
    #for $p in $plugins.get($plugin)
    <dt>
      <input type="hidden" name="plugin" value="$p.classname" />
      <input type="checkbox"
        #if $p.required
             disabled="disabled" 
        #end if 
        #if $p.enabled
             checked="checked" 
        #end if 
             name="enabled" value="$p.classname" /> 
      <b>$p.classname</b>
    </dt>
    <dd> 
      <i>$p.description</i><br />
      <tt>$p.file</tt>
    </dd>
    #end for
  </dl>
  #end for
  <input type="submit" name="update" value="Set Plugins" />
  <input type="submit" name="reload" value="Refresh Plugin List" />
  <input type="button" name="toggle" value="Expand all" 
         onclick="javascript: expandAll('toggledisplay'); return false" />
</form>

