<h1>Logs</h1>

<h2>Access Log</h2>
<textarea class="log">
#for $line in $accesslog#$line#end for
</textarea>

<h2>Error Log</h2>
<textarea class="log">
#for $line in $errorlog#$line#end for
</textarea>
