<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-EN">
<head>
  <link rel="stylesheet" type="text/css" href="$css" />
  <script type="text/javascript" src="/js/default.js" ></script>
  <title>SeisHub Management Page</title>
</head>

<body>

  <div id="header">
    <div id="logo">
      SeisHub
    </div>
    <div id="caption">
      A web service for archiving, processing and simulation of multi-component
      data in seismology
    </div>
    <div id="version">
      <a href="http://www.seishub.org">$version</a>
    </div>
$navigation
  </div>
  
$submenu
  
$error
  
  <div id="content">
$content
  </div>
  
</body>
</html>
