<div class="subHeader">
  <ul class="navigation">
    #for $id, $name in $navigation
    <li>
      <a #if $id==$cat_id
         class="highlighted tab" 
         #else
         class="tab" 
         #end if 
         href="/$id">$name</a>
    </li>
    #end for
  </ul>
</div>

