<script type="text/javascript" src="/yui/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/yui/build/event/event-min.js"></script>
<script type="text/javascript" src="/yui/build/treeview/treeview-min.js"></script>
<script type="text/javascript" src="/yui/build/connection/connection-min.js"></script>
<script type="text/javascript" src="/yui/build/json/json-min.js"></script> 
<link rel="stylesheet" type="text/css" href="/yui/assets/treeview-menu.css" />
<link rel="stylesheet" type="text/css" href="/yui/assets/treeview-sprite.css" />


<h1>Package Browser</h1>

<div id="treediv"></div>

<script>
  (function() { 
    var tree;
    
    function loadNodeData(node, fnLoadComplete) {
      var nodeTitle = encodeURI(node.title);
      var sUrl = "/rest/" + nodeTitle;
      var elements = ['resourcetype','alias','mapper','resource','index'];
      
      //prepare our callback object
      var callback = {
        success: function(oResponse) {
          if (oResponse.responseText) {
            var data = []; 
            data = YAHOO.lang.JSON.parse(oResponse.responseText);
            for each (var element in elements) {
              var items = data[element];
              for each (var item in items) {
                var tmp = new YAHOO.widget.TextNode(item, node, false);
                tmp.labelStyle = "icon-"+element;
                if (element=='resource') {
                  tmp.href = "$resturl" + item;
                  tmp.title = item;
                  tmp.isLeaf = 1;
                } else if (element=='index') {
                  tmp.href= "";
                  tmp.isLeaf = 1;
                  tmp.title = item;
                } else {
                  tmp.href = "$resturl/" + nodeTitle + "/" + item;
                  tmp.title = nodeTitle + "/" + item;
                }
                
              }
            }
          }
          oResponse.argument.fnLoadComplete();
        },
        failure: function(oResponse) {
          oResponse.argument.fnLoadComplete();
        },
        argument: {
          "node": node,
          "fnLoadComplete": fnLoadComplete
        },
        timeout: 3000
      };
      YAHOO.util.Connect.asyncRequest('GET', sUrl, callback);
    }
    
    function treeInit() {
      tree = new YAHOO.widget.TreeView("treediv");
      tree.setDynamicLoad(loadNodeData, 1);
      var root = tree.getRoot();
      
      // cycle trough all packages
      #for $p in $packages
      var tmp = new YAHOO.widget.TextNode("$p", root, false);
      tmp.labelStyle = "icon-package";
      tmp.href = "$resturl/$p";
      tmp.title = "/$p";
      #end for
      tree.draw();
    }
    YAHOO.util.Event.onDOMReady(treeInit);
  })();  
</script>
