<script type="text/javascript" src="/js/jxs.js" ></script>
<script type="text/javascript">
    jx.load('/ajax/',function(data){
    alert(data); },'json','get');
    
    function muh(xmldoc)
    {
      var root = xmldoc.getElementsByTagName('seishub').item(0);
      alert(root.name)
      for (var iNode = 0; iNode < root.childNodes.length; iNode++) 
      {
         var node = root.childNodes.item(iNode);
      }
    }
    
</script>

<h1>Aliases</h1>

<p><i>
  Aliases are shortcuts to very specific xpath-like queries. 
  The result of an alias is always a list of unique resources.
</i></p>

<h2>Add new alias</h2>
<form method="post" name="add">
  <label>Package</label><br />
  <select name="package">
    <option></option>
  </select><br />
  <label>Resource type</label><br />
  <select name="resourcetype">
    <option></option>
  </select><br />
  <label>Alias expression</label><br />
  <input type="text" size="80" name="alias" value="$alias" /><br />
  <label>Xpath expression</label><br />
  <input type="text" size="80" name="xpath" value="$xpath" /><br />
  <br />
  <input type="submit" name="add" value="Add" />
</form>

<br />
<br />

<h2>List of all aliases</h2>
<form method="post" name="list">
  <table>
    #for $alias in $aliases
    <tr>
      <td> <input type="checkbox" name="alias[]" value="$alias" /> </td>
      <td> $alias </td>
      <td> $aliases[$alias] </td>
      <td> 
        [<a href="$resturl$alias">XML</a>] 
        [<a href="$resturl$alias?output=xhtml">XHTML</a>]
      </td>
    </tr>
  #end for
  </table>
  <input type="submit" name="delete" value="Delete" />
</form>
