<h1>Package Overview</h1>

<ul>
  #for $p in $packages
  <li class="package" >
    <a href="$resturl/$p">$p</a>
    #if $resourcetypes[$p]
    <ul>
    #for $r in $resourcetypes[$p]
      <li class="resourcetype"><a href="$resturl/$p/$r">$r</a></li>
    #end for
    </ul>
    #end if
  </li>
  #end for
</ul>