<h1>Stylesheets</h1>

<h2>Add new stylesheet</h2>
<form method="post" enctype="multipart/form-data" name="add">
    <label>Package</label><br />
    <select name="package_id" id="package_id">
        #for $p in $packages
        #if $resourcetypes[$p]
        <option value="$p" onclick="changePackage('$p');">$p</option>
        #end if
        #end for
    </select><br />
    <label>Resource type</label><br />
    <select name="resourcetype_id" id="resourcetype_id"></select><br />
    <label>Type</label><br />
    <input type="text" size="20" name="type" /><br />
    <label>XSLT File</label><br />
    <input name="file" type="file" size="50" maxlength="100000" 
           accept="text/xml" /><br/>
    <br />
    <input type="submit" value="Add" />
</form>

<br />
<br />

<h2>List of all stylesheets</h2>
<form method="post" name="list">
    #for $stylesheet in $stylesheets 
    <input type="checkbox" name="stylesheet[]" value="$stylesheet.uid" /> 
    $stylesheet.package_id
    $stylesheet.resourcetype_id
    $stylesheet.type
    #end for
    <br />
    <input type="submit" name="delete" value="Delete" />
</form>

<script type="text/javascript">
    var resourcetypes = new Array();
    #for $p in $packages
    resourcetypes['$p'] = $resourcetypes[$p];
    #end for

    function changePackage(package_id)
    {
      var selectbox = document.getElementById('resourcetype_id');
      selectbox.options.length = 0;
      for (var i=0;i<resourcetypes[package_id].length;i++)
      {
        var link = resourcetypes[package_id][i];
        var addme = new Option(link, link);
        selectbox.options[i] = addme;
      }
    }
    changePackage('$packages[0]');
</script>