body {
    color: black;
    background-color: white;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 71%; /* Enables font size scaling in MSIE */
    margin: 0;
    padding: 0;
}


/* Logo */

#logo {
    color: rgb(175, 175, 175);
    background-color: transparent;
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
    font-size: 350%;
    margin: 0 0 0 5mm;
    padding: 15px 0 0 0;
}


/* Version string */

#version {
    position: absolute;
    right: 5px;
    top: 5px;
}

#version a {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}

#version a:hover {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

/* Navigation bar */

#navigation {
    margin: 0;
    padding: 0.75em 1ex 0.5ex 1ex;
    border-bottom: 10px solid rgb(70, 130, 180);
}

#menu {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

#menu li {
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu a {
    color: steelblue;
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 0.5ex 1.25em 1ex 1.25em;
    border-top: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(97, 97, 97);
    border-left: 1px solid rgb(231, 231, 231);
}

#menu a:hover {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

#menu a.selected {
    color: white;
    background-color: steelblue;
    border-top-color: steelblue;
    border-right-color: steelblue;
    border-left-color: steelblue;
}


/* Content */

#content {
    text-align: justify;
    line-height: 1.5em;
    padding: 30px;
    margin: 1em;
    margin-left: 17em;
    background-color: rgb(240, 240, 240);
}

#content p {
    margin: 0 0 1.5em 0;
    padding: 0;
}

#content a {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}

#content a:hover {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}

#content h1 {
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 1.05em 0;
    padding: 0;
}

#content h2 {
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 1.05em 0;
    padding: 0;
}

#content h3 {
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin: 3px 0px;
    padding: 0;
}


/* Submenu */

#submenu {
    border: 1px solid steelblue;
    margin: 1em;
    padding: 0.5em;
    float: left;
    width: 14em;
}

#submenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#submenu li a {
    color: rgb(40,40,40);
}

#submenu li a.selected {
    font-weight: bold;
}