/* accordion */
.accordion {
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
}

.accordion dt {
    font-weight: bold;
    padding: 3px 8px;
    border-top: 1px solid rgb(231, 231, 231);
}

.accordion dt:hover, .accordion dt.over {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.accordion dd {
    display: none;
    padding: 4px;
    margin-left: 10px;
    overflow: hidden;
}

.accordion dd.open {
    display: block;
}

.accordion dd.getHeight {
    display: block;
}

.check {
    float: left;
    margin-right: 10px;;
}
