include seishub/core/*.txt
include *.xslt
include seishub/core/packages/admin/web/statics/*
include seishub/core/packages/admin/web/templates/*
include seishub/core/processor/tests/data/*
include seishub/core/registry/tests/data/*
include seishub/core/xmldb/tests/data/*
include seishub/core/tests/*.txt
