<h1>General Settings</h1>

<p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent ligula 
  lorem, consectetuer a, faucibus eu, accumsan quis, felis. Nulla posuere. 
  Praesent leo enim, sollicitudin ut, vestibulum nec, pellentesque non, libero.
  Sed iaculis. Suspendisse vel augue. Donec dignissim luctus magna. Lorem 
  ipsum dolor sit amet, consectetuer adipiscing elit. Nam aliquam ultrices 
  tortor. Aenean consectetuer erat id eros suscipit aliquam. Proin vel enim. 
  Suspendisse a lacus.
</p>

<img src="images/quake.gif" alt="juhu"/>