<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de-DE">
<head>
  <link rel="stylesheet" type="text/css" href="css/default.css"
        media="screen, projection, tv" title="Default" />
  <title>Management Page</title>
</head>

<body>
  <div id="header">
    <h1 class="headerTitle">SeisHub</h1>

    <div id="copyright"><a href="">Version 0.0.1</a></div>

    $navigation
  </div>

<div id="main">$main</div>

</body>
</html>
