<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de-DE">
<head>
<link rel="stylesheet" type="text/css" href="css/default.css"
  media="screen, projection, tv" title="Default" />
<title>Management Page</title>
</head>

<body>
<div id="header">
<h1 class="headerTitle">SeisHub</h1>

<div id="copyright"><a href="/entwicklung/0.5.4.3.html">Version
0.5.4.3 fertig!</a></div>

<div class="subHeader"><span class="doNotDisplay doNotPrint"><br />
Navigation:</span>
<ul class="navigation">
  <li><a href="/"><span class="highlighted tab">Home</a></span></li>
  <li><a href="/services" class="tab">Services</a></li>
  <li><a href="/database" class="tab">Database</a></li>
  <li><a href="/users" class="tab">User Management</a></li>
  <li><a href="/logs" class="tab">Logs</a></li>
</ul>
</div>
</div>

<div id="main">

<h1>Services</h1>
<form method="post" name="testform">
#for $s in $services
  <input type="checkbox" 
         #if $s.running
            checked="checked" 
         #end if 
         name="service" value="$s.name" /> $s.name
  <br />
#end for
<br />
<input type="submit" name="reload" value="Set Services" />
<br />
<input type="submit" name="shutdown" value="Shutdown" />
<input type="submit" name="restart" value="Restart" />
</form>

</div>
</body>
</html>
