<div class="subHeader">
  <ul class="navigation">
    <li><a href="/"><span class="highlighted tab">Home</a></span></li>
    <li><a href="/basics" class="tab">General Settings</a></li>
    <li><a href="/plugins" class="tab">Services &amp; Plugins</a></li>
    <li><a href="/database" class="tab">Database</a></li>
    <li><a href="/users" class="tab">User Management</a></li>
    <li><a href="/logs" class="tab">Logs</a></li>
    <li><a href="http://localhost:8080" class="tab">REST</a></li>
  </ul>
</div>

