.icon-package {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 0px no-repeat;
}

.icon-resourcetype {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -36px
        no-repeat;
}

.icon-resource {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -72px
        no-repeat;
}

.icon-mapping {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -108px
        no-repeat;
}

.icon-alias {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -144px
        no-repeat;
}

.icon-index {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -180px
        no-repeat;
}

.icon-zip {
    display: block;
    height: 22px;
    padding-left: 20px;
    background: transparent url(/yui/assets/treeview-sprite.png) 0 -216px
        no-repeat;
}
