body {
    color: #333333;
    background: url(../images/bg.png) repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
input,option,select, textarea {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
textarea {
    width: 100%
}
textarea.monospace {
    font-family: "Courier New", Courier, monospace;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table.list {
    border: 1px solid #dedede;
    margin-bottom: 1em;
    border-collapse: collapse
}
table.list td,table.list th {
    border: 1px solid #dedede;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}
/* header */
#header {
    height: 115px;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* logo */
#logo {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #999;
    font-size: 0px;
    background-image: url("../images/seishub.png");
    background-repeat: no-repeat;
    height: 80px;
    width: 300px;
}
/* caption */
#caption {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    width: 400px;
    text-align: right;
}
/* version string */
#version {
    position: absolute;
    right: 10px;
    top: 50px;
}
/* Navigation bar */
#navigation {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    top: 80px;
    left: 220px;
    height: 36px;
    position: absolute;
    width: 800px;
}
#login {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    top: 80px;
    right: 0px;
    height: 36px;
    position: absolute;
}
#menu {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}
#menu li {
    float: left;
}
#menu a, #login a {
    color: #A9A9A9;
    height: 36px;
    margin: auto 10px;
    display: block;
    z-index: 10;
    position: relative;
    font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
}
#menu a:hover, #login a:hover {
    color: orange;
}
#menu a.selected, #login a.selected {
    color: white;
    cursor: default;
    text-decoration: none;
}
/* Content */
#content {
    text-align: justify;
    padding: 30px;
    margin-left: 200px;
}
#content p {
    margin: 0 0 1.5em 0;
    padding: 0;
}
#content ul {
    padding-left: 0;
}
#content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #333333;
    background-color: white;
}
#content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #444444;
    background-color: white;
}
#content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 3px 0px;
    padding: 0;
}
#content textarea.log {
    width: 100%;
    margin-bottom: 2em;
    color: black;
    background-color: #F0F0F0;
    border: 1px solid #C0C0C0;
    font-family: monospace;
}
/* Submenu */
#submenu {
    position: absolute;
    top: 116px;
    left: 0px;
    width: 170px;
    padding: 20px;
    margin: 0;
}
#submenu li {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dedede;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 0pt;
    padding-bottom: 5px;
    padding-left: 0pt;
    list-style: none;
}
#submenu a {
    color: #AAA;
    text-decoration: none;
    background-color: white;
}
#submenu a:hover {
    color: #0066cc;
    background-color: white;
}
#submenu a.selected {
    color: black;
    background-color: white;
    cursor: default;
    text-decoration: none;
}
/* Forms */
div.field {
    margin-bottom: 1em;
}
/* Messagebox */
dl.messagebox {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 230px;
    background-color: #ffffe3;
    color: black;
    border: 1px solid #996;
}
dl.messagebox dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: white;
}
dl.messagebox dd {
    padding: 0.5em 0.5em;
    margin: 0;
}
/* Info */
dl.info {
    background-color: #ffffe3;
    color: black;
    border: 1px solid #996;
}
dl.info dt {
    background-color: #996;
    color: white;
}
/* Error */
dl.error {
    background-color: #fd7;
    color: black;
    border: 1px solid #d80;
}
dl.error dt {
    background-color: #d00;
    color: white;
}
/* Infobox */
#infobox {
    float: right;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #dadada;
    width: 200px;
    padding: 10px;
}
.icon {
    margin: 2px;
}
/* Accordion */
.accordion dt:hover,.accordion dt.over {
    color: #0066cc !important;
    background-color: white;
}