<html>
<head>
<title>$title</title>
</head>
<body>
<h1>$title</h1>

<p>Documentation etc.</p>

<ul>
  <li><a href="http://localhost:40443/">Administration
  interface</a></li>
  <li><a href="http://localhost/">www/Rest Startseite</a></li>
  </p>
</body>
</html>
